      <li>
        <%= form.label :answer_text %>
        <%= form.text_field :answer_text %>
        <%= form.check_box :correct %>
        <%= form.label :correct, "Answer is correct" %>
      </li>