<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">
      <div>
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Blog Posts</h1>  
      </div>

      <div class="flex items-center gap-4">
        <% if user_signed_in? %>
            Logged in as <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}, class: "inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring" %>
        <% else %>
            <%= link_to 'Sign Up', new_user_registration_path %> or
            <%= link_to 'Log In', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</header>